<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
	<!-- 지우기 작업: emp2테이블내의 사원명 'A'포함하는 사원삭제 -->

	<delete id="del">
		<![CDATA[ 
		 
		 delete from emp2 
		 where ename like '%A%'
		 ]]>
	</delete>
</mapper>
<!-- testMapper.xml -->